<!doctype html>
<html>
<head>
    <title>Add a New Student</title>
</head>

<body>
<h1> Create New Student: </h1><br>
<form action="/student-add-confirm" method="POST">
    <label>Enter Student's First Name:
        <input type='text' name='firstname'>
    </label></br>
    <label>Enter Student's Last Name: 
        <input type='text' name='lastname'>
    </label></br>
    <label>Enter GitHub Username:
        <input type="text" name="github">
    </label></br>
    <input type="submit">
</form>

</body>
</html>